.App-header {
  background-color: #cfd8dc;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #b0bec5;
}

.App-header .title {
  float: left;
  padding: 0px 15px;
}

.App-header .close {
  float: right;
}

.close button {
  font-size: 20px;
  height: 60px;
  width: 60px;
  border: 0;
  background-color: #cfd8dc;
}

.close button:hover {
  cursor: pointer;
  background-color: #b0bec5;
}
